@import '@/styles/base';

.input-footer {
    display: flex;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    border: 1px solid$dark-blue;

    & input {
        flex: 8;
        height: $icon-size;
        padding: 0 4px;
        border: none;

        &:focus {
            outline: none;
        }
    }

    & button {
        flex: 1;
        background-color: transparent;
        border: none;
        outline: none;
    }
}
