@import '@/styles/base';

.input-container {
    display: flex;
    flex-wrap: wrap;

    & input {
        width: 100%;
        height: $icon-size;
        border: 1px solid$dark-blue;
        padding: 0 4px;

        &:focus {
            outline: none;
        }
    }
}
