$primary-color: #ff0049;
$secondary-color: rgb(0, 43, 69);
$terciary-color: #fff1e5;

$white: #ffffff;
$black: #000000;
$success: #84e172;
$dark-blue: #ccd5da;
$background-color: #f5f5f5;

$layout-spacing: 4vw;
$spacing: 1rem;
$spacing-l: $spacing * 2;

$border: 1px solid #75d3e8;

$navbar-size: 8vh;
$mobile-size: 600px;
$icon-size: 40px;
