@import '@/styles/base';
@import '@/styles/mixins';

$triangle-size: 10px;

.header-container {
    display: flex;
    justify-content: center;
    background-color: $dark-blue;

    & ul {
        display: flex;
        overflow: auto;
        max-width: calc(100vw - ($layout-spacing * 2));
    }

    & .step {
        @include centered-container;
        margin-right: $spacing;

        &:first-child {
            margin-left: $spacing;
        }

        & .circle-container {
            position: relative;

            & .circle {
                display: grid;
                place-content: center;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                color: $terciary-color;
                margin: $spacing 0;

                @include background-opacity($secondary-color);
            }

            &.selected {
                .circle {
                    height: 50px;
                    width: 50px;
                    background-color: $secondary-color;
                }
            }

            &:not(.selected) {
                margin-bottom: $triangle-size;
            }
        }

        &.completed {
            & .circle {
                background-color: $primary-color;
            }
        }

        &:not(:last-child) {
            & .circle-container::after {
                content: '';
                position: absolute;
                top: 50%;
                right: -($spacing);
                height: 2px;
                width: $spacing;

                @include background-opacity($secondary-color);
            }

            & .circle-container.selected::after {
                background-color: $secondary-color;
            }

            &.completed .circle-container::after {
                background-color: $primary-color;
            }
        }

        //

        & .triangle {
            width: 0;
            height: 0;
            border-left: $triangle-size solid transparent;
            border-right: $triangle-size solid transparent;
            border-bottom: $triangle-size solid $white;
        }
    }
}

.check-image {
    height: 1rem;
    width: 1rem;
}
