@import '@/styles/base';

.create-password-container {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    background-color: $white;
    width: 50%;
    height: fit-content;

    & form .form-body {
        padding: $spacing $spacing-l;
    }

    & .title {
        width: fit-content;
        padding-bottom: $spacing;
        font-size: 2rem;
        font-weight: bold;
        border-bottom: $border;
        margin-bottom: $spacing-l;
        margin: $spacing $spacing-l $spacing-l $spacing-l;
    }

    & .footer-container {
        display: flex;
        align-items: center;
        padding: $spacing $spacing-l;

        & .footer-right {
            margin-left: auto;
        }
    }
}

@media screen and (max-width: $mobile-size) {
    .create-password-container {
        width: 100%;
    }
}
