@import '@/styles/base';

.create-password-container {
    background-color: $white;
    width: 50%;
    height: fit-content;
}

.title {
    width: fit-content;
    padding-bottom: $spacing;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: $border;
    margin-bottom: $spacing-l;
}

.footer-container {
    display: flex;
    align-items: center;
    padding: $spacing $spacing-l;

    & .footer-next {
        margin-left: auto;
    }
}
