@import '@/styles/base';

.navbar-container {
    height: $navbar-size;
    background-color: #e3e9e9;
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 30vw;
    height: auto;
    max-width: 200px;
    margin-left: $spacing;
}
