@import '@/styles/mixins';
@import '@/styles/base';

.password-section {
    @include split-container {
        margin-bottom: $spacing;
    }
}

.hint-characters-counter {
    display: inline-block;
    margin: 0 0 0 auto;
}
